{% extends "main.html" %}
{% load static %}


{% block content %}
<!-- Hero -->
<div class="container content-space-1" style="margin-top: 100px;">
  <div class="row justify-content-lg-between align-items-lg-center">
    <div class="col-lg-5 mb-5 mb-lg-0">
      <div class="mb-5">
        <h1 class="display-5 text-dark mb-5">Bayraktar<span class="text-dark"> TB2</span></h1>
        <p class="fs-4">Baykar tarafından geliştirilerek kullanıma sunulan Bayraktar TB2 Taktik S/İHA Sistemi, kullanıcıya tüm çözümleri bir arada sunan bütünleşik ağ tabanlı bir sistem mimarisidir.</p>
      </div>

      <div class="d-grid d-sm-flex gap-3 mb-5">
        <a class="btn btn-soft-dark" href="iha-information/bayraktar-tb2">Detaylı Bilgi</a>
        <a class="btn btn-ghost-dark btn-pointer" href="iha-information/bayraktar-tb2">Kirala</a>
      </div>
    </div>
    <!-- End Col -->

    <div class="col-lg-6">
      <div class="position-relative">
        <div class="position-relative">
          <img class="img-fluid" src="https://cdn.baykartech.com/media/upload/userFormUpload/4DbIyuo6Jb1uvkIyAOfQy8u4iKxNbnem.png" alt="Image Description">
        </div>


       
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Hero -->
{% endblock content %}