{% extends "main.html" %}
{% block content %}
<!DOCTYPE html>
<head>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css"/>
</head>
<body style="margin-top: 100px;">
    <div class="container content-space-1">
        <div class="position-relative text-center mx-lg-auto">
          {% if request.user.is_superuser %}
   <!-- Accordion -->
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <div class="accordion-header" id="headingOne">
      <a class="accordion-button" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Kiralanan İHA'lar
        <i style="margin-left: 5px;" class="bi-clipboard-data fs-3 text-dark fw-bold"></i>
      </a>
    </div>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <div class="table-responsive">
          <table id="myDataTable" style="border-color: white;" class="table table-striped table-bordered dt-responsive compact nowrap" >
              <thead style="background-color: black; color:white;">
                  <tr >
                      <th style="color:white;">IHA</th>
                      <th style="color:white;">Kullanıcı</th>
                      <th style="color:white;">Saat</th>
                      <th style="color:white;">Ödenecek Tutar</th>
                      
                  </tr>
              </thead>
          </table>        </div>
    </div>
  </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingTwo">
      <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Filo
        <i style="margin-left: 5px;" class="bi-airplane-engines fs-3 text-dark fw-bold"></i>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <div class="table-responsive">
              <table id="myDataTable2" style="border-color: white;" class="table table-striped table-bordered dt-responsive compact nowrap" >
                  <thead class="table-success">
                      <tr>
                          <th>IHA-Kodu</th>
                          <th>Adı</th>
                          <th>Görsel</th>
                          <th>Bağlantı</th>
                          
                      </tr>
                  </thead>
              </table>       
           </div>        
          </div>
    </div>
  </div>
  <div class="accordion-item">
    <div class="accordion-header" id="headingThree">
      <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Kayıtlı Kullanıcılar
        <i style="margin-left: 5px;" class="bi-people fs-3 text-dark fw-bold"></i>
      </a>
    </div>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <div class="table-responsive">
              <table id="myDataTable3" style="border-color: white;" class="table table-striped table-bordered dt-responsive compact nowrap" >
                  <thead class="table-success">
                      <tr>
                          <th>İsim</th>
                          <th>Soyisim</th>
                          <th>Kullanıcı Adı</th>
                          <th>E-Posta</th>
                          <th>Üyelik Tarihi</th>
                          <th>Aktif</th>
                          
                      </tr>
                  </thead>
              </table>        
          </div>        
      </div>
    </div>
  </div>
</div>
<!-- End Accordion -->
{% else %}
<!-- Card -->
<img width="150px" src="https://assets.website-files.com/60faaefbef194f7f4e4f2c66/60fae0352dfa6b256a05df91_lock-icon.svg">
<br>
<h3>Yetkisiz Erişim</h3>
<div class="card">
  <div class="card-body">
   <span class="fw-bold">Bu sayfaya erişim hakkınız bulunmamaktadır.</span> 
  </div>
</div>
<!-- End Card -->
{% endif %}
    
  </div>
</div>

    <!-- jQuery ve DataTables JavaScript dosyalarını ekleyin -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>

    <!-- DataTables'i etkinleştirme script'i -->
    <script>
        $(document).ready(function() {
            $('#myDataTable').DataTable({
                language: {
        url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/tr.json',
    },"ajax": {
              "processing": true,
              "url": "{% url 'kiralanan_iha_json' %}",
              "dataSrc": "",
            },
            "columns": [
                    { "data": "iha"},
                    { "data": "kullanici"},
                    { "data": "kiralamaSaat"},
                    { "data": "kiralamaToplam"},
                ]
})            
                       
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#myDataTable2').DataTable({
                language: {
        url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/tr.json',
    },"ajax": {
              "processing": true,
              "url": "{% url 'iha_json' %}",
              "dataSrc": "",
            },
            "columns": [
                    { "data": "iha"},
                    { "data": "isim"},
                    { "data": "kategoriresim"},
                    { "data": "slug"},
                ]
})    
            
        });
    </script>
     <script>
        $(document).ready(function() {
            $('#myDataTable3').DataTable({
                language: {
        url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/tr.json',
    },"ajax": {
              "processing": true,
              "url": "{% url 'user_json' %}",
              "dataSrc": "",
            },
            "columns": [
                    { "data": "first_name"},
                    { "data": "last_name"},
                    { "data": "username"},
                    { "data": "email"},
                    { "data": "date_joined"},
                    { "data": "is_active"},
                ]
})
        });
    </script>
   
</body>
</html>

{% endblock content %}
{% block extra_script %}
<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>


{% endblock %}

